.movie-catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 25px;
	margin-left: 12px;

	.ant-card-cover {
		img {
			height: 350px !important;
		}
	}

	.ant-card-meta-title {
		text-align: center !important;
	}
}
